.box {
  display: flex;
  height: 90vh;
  margin: 25px;
  border: solid black 4px;
  justify-content: center;
  align-items: center;
}
.ourcanvas {
  display: flex;
  height: 85vh;
  width: 35vw;
  border: solid #439a97 4px;
  justify-content: center;
  margin: 15px;
  box-shadow: 0 0 6px black;
}
.canvasItems {
  display: flex;
  width: 480px;
  height: 225px;
  margin-block: 15px;
  background-color: #97dece;
  justify-content: center;
  overflow: hidden;
  border-radius: 4%;
  justify-content: space-between;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}
.firstInfo {
  padding: 10px;
}
.picture {
  padding: 10px;
}
.mypicture {
  transform: translateX(8px);
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -o-transform: translateX(8px);
}
img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: solid #37b195;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
